<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>help</title>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <h1>Contact Us</h1>
        <h2>Email : {{Email}}</h2>
        <h2>Hotline : {{phone}}</h2>
        <h2>Address : {{Address}}</h2>
    </div>

    {{>footer}}
</body>

</html>